# =========================
# PlatformIO
# =========================
.pio/
.pioenvs/
.piolibdeps/

# =========================
# Arduino build files
# =========================
build/
*.bin
*.elf
*.map

# =========================
# VSCode
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp