# =========================
# PlatformIO
# =========================
.pio/
.pioenvs/
.piolibdeps/

# =========================
# Arduino build files
# =========================
build/
*.bin
*.elf
*.map

# =========================
# VSCode
# =========================
.vscode/
.idea/
.fleet/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*.swo
*~
*.bak

# =========================
# Tooling metadata
# =========================
compile_commands.json
